@import url('https://fonts.googleapis.com/css?family=Pavanam');

h1 {font-size: 100px;}

.header{
    background: url(img/7.jpg);
    padding: 10px;
    font-family:pavanam;
    color: white;
    font-size: 50px; 
    background-size: cover;
}
.aboutme{
    border-style:solid;
    border-color: white;
}

.metext{
    font-family:pavanam;
    font-size:20px;
    width: 450px; 
    padding: 5px;
    padding-top: 50px;
    padding-left: 350px
}

.img{
    margin-left: 500px;
    position: relative;
    margin-top: -375px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: none;
}

.active {
    background-color: none;
}

.nav{
    font-family: pavanam;
    font-size: 25px;
}
.aboutme{
    font-family: pavanam;
    font-size: 45px;
   
}