html { 
  background: url(img/7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center{
    display:block;
    margin-top:35vh;
    background-color:NONE;
    font-family: Pavanam;
    color: white;
    font-size: 100;
    border-top-style: solid;
}

.center1{
    font-size: 30;
    font-family: Pavanam;
    color: white;
    border-bottom-style: solid;
}

.center1 a{
    color:white
}


