@import url('https://fonts.googleapis.com/css?family=Pavanam');

h1 {font-size: 100px;}

.header{
    background: url(img/7.jpg);
    padding: 10px;
    font-family:pavanam;
    color: white;
    font-size: 50px; 
    background-size: cover;
}
.projects{
    border-style:solid;
    border-color: white;
}

